.card {
  border-radius: 10px;
  border-style: double;
  border-color: #00000043;
  height: auto;
  box-shadow: 0 0 5px 2px #faf9f94d;
  margin: 20px;
  padding: 25px;
  text-align: center;
  width: 300px;
  background-color: #5b5a5a;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
